@import '../../styles/variables';

#portfolio {
  background: $page-background;
  padding: 120px 0;

  #portfolio-filters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
  }

  #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: $text-color;
    transition: all 0.3s ease-in-out;
  }

  #portfolio-filters li:hover,
  #portfolio-filters li.filter-active {
    color: $primary-color;
  }

  #portfolio-filters li:last-child {
    margin-right: 0;
  }

  .portfolio-item {
    @include button-reset();

    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
    max-width: 410px;
  }

  .portfolio-item .portfolio-info {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    padding: 15px;
  }

  .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: $background-color;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .portfolio-item .portfolio-info p {
    color: $background-color;
    font-size: 14px;
    margin-bottom: 0;
  }

  .portfolio-item .portfolio-info .preview-link,
  .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 48px;
    font-size: 24px;
    top: calc(50% - 16px);
    color: $primary-color;
  }

  .portfolio-item:hover .portfolio-info .preview-link,
  .portfolio-item:hover .portfolio-info .details-link {
    color: $secondary-color;
  }

  .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }

  .portfolio-item:hover .portfolio-info {
    opacity: 1;
  }
}
