$background-color: #080502;
$page-background: #1e2020;
$primary-color: #1a9dd2;
$secondary-color: #cd2a27;
$text-color: #d4d4d3;
$text-accent: #ffffff;

$footer-size: 150px;
$header-size: 70px;


@mixin placeholder {
  &::placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin base-button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}
