@import './styles/variables';

body {
  background: $page-background;
  color: $text-color;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: $primary-color;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

section {
  overflow: hidden;
  min-height: calc(100vh - $footer-size);
}

.section-title {
  font-size: 32px;
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-subtitle {
  font-size: 22px;
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $secondary-color;
  margin: 0 auto;
  margin-bottom: 20px;
}
